.top {
    height: 800px;
    background-image: url(images/);
    background-color: #E1FF8F;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;


    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 196px;
        padding-bottom: 24px;
        width: 769px;
        color: #202027;
    }

    &__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 48px;
        color: #202027;
    }

    &__btn {
        font-family: inherit;
        background: #202027;
        border-radius: 60px;
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        text-align: center;
        border: none;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 600;

        &:hover {
            background-color: white;
            color: #000000;
            border: 1px solid #000000;
        }
    }

    &__overlay-img {
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;
    }

    &__overlay-star1 {
        position: absolute;
        z-index: 1;
        right: 344px;
        top: 568px;
    }

    &__overlay-star2 {
        position: absolute;
        z-index: 1;
        right: 455px;
        top: 538px;
    }

    &__overlay-star3 {
        position: absolute;
        z-index: 1;
        left: 63px;
        top: 94px;
    }

    &__overlay-star4 {
        position: absolute;
        z-index: 1;
        left: 156px;
        top: 69px;
    }
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.game-box {
    background-color: #000000;

    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 94px;
        padding-bottom: 24px;
    }

    &__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 72px;
    }


}





.minigame-box {
    background-color: #000000;

    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 46px;
        padding-bottom: 72px;
    }
}





















.bottom {
    height: 150px;
    background-color: #BDED35;

    &__text {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
    }
}