.top {
    height: 800px;
    background-image: url(images/);
    background-color: #E1FF8F;

    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 196px;
        padding-bottom: 24px;
        width: 769px;
        color: #202027;
    }

    &__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 48px;
        color: #202027;
    }

    &__overlay-img {
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;
    }

    &__overlay-star1 {
        position: absolute;
        z-index: 1;
        right: 344px;
        top: 568px;
    }

    &__overlay-star2 {
        position: absolute;
        z-index: 1;
        right: 455px;
        top: 538px;
    }

    &__overlay-star3 {
        position: absolute;
        z-index: 1;
        left: 63px;
        top: 94px;
    }

    &__overlay-star4 {
        position: absolute;
        z-index: 1;
        left: 156px;
        top: 69px;
    }
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.game-box {
    position: relative;

    &::after {
        background-color: #000000;
        content: '';
        position: absolute;
        inset: 0;
        z-index: -2;
    }

    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 94px;
        padding-bottom: 24px;
    }

    &__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 72px;
    }

    &__overlay-img {
        position: absolute;
        z-index: -1;
        top: 77px;
        right: 0px;
    }

    &__star1 {
        position: absolute;
        z-index: -1;
        top: 822px;
        left: 40px;
    }

    &__star2 {
        position: absolute;
        z-index: -1;
        top: 770px;
        left: 25px;
    }
}

.card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    overflow: visible; // чтоб был выход за границы
}

.card-split {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.card-game {
    height: 473px;
    width: 378px;
    background-color: #FFFFFF;
    border-radius: 30px;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;

    &_height-md {
        height: 512px;
    }

    &_height-lg {
        height: 551px;
    }

    &:hover {
        transform: scale(1.03);
        z-index: 2;
    }

    &__img {
        height: 314px;
        width: 378px;
        border-radius: 30px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px 32px 36px 32px;

        &_width {
            width: 300px;
        }
    }

    &__number {
        font-size: 16px;
        font-weight: 500;
        border-radius: 52px;
        background-color: #F7F7F7;
        display: flex;
        justify-content: center;
        width: 108px;
        padding-top: 8px;
        padding-bottom: 10px;
    }

    &__name {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }
}

.minigame-box {
    background-color: #000000;
    padding-bottom: 144px;
    position: relative;

    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 46px;
        padding-bottom: 72px;
    }

    &__overlay-star1 {
        position: absolute;
        z-index: 1;
        top: 126px;
        right: 45px;
    }

    &__overlay-star2 {
        position: absolute;
        z-index: 1;
        top: 93px;
        right: 124px;
    }

    &__overlay-star3 {
        position: absolute;
        z-index: 1;
        bottom: 65px;
        right: 53px;
    }

    &__overlay-star4 {
        position: absolute;
        z-index: 1;
        bottom: 45px;
        right: 151px;
    }
}

.minicard-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.minigame-card {
    height: 500px;
    width: 1200px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_flex {
        display: flex;
        flex-direction: row-reverse;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 36px;
        padding: 48px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;

        &_width {
            width: 450px;
        }
    }

    &__description {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    &__img {
        height: 500px;
        width: 600px;
        border-radius: 30px;
    }
}

.common-btn {
    font-family: inherit;
    background: #202027;
    border-radius: 60px;
    width: 247px;
    height: 66px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;

    &:hover {
        background-color: white;
        color: #000000;
        border: 1px solid #000000;
    }
}

.bottom {
    height: 150px;
    background-color: #BDED35;

    &__text {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
    }
}