.games-body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_game2 {
        margin-top: 115px;
        background-image: url(Images/game2-background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &_game3 {
        margin-top: 85px;
    }
}

.games {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background-color: #E5C288;
    padding: 16px;
    border-radius: 16px;
}

.games-box {
    position: relative;
    width: 470px;
    background-color: #FFF7ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 16px;

    &_game1 {
        height: 525px;
    }

    &_game2 {
        height: 425px;
    }

    &_game3 {
        height: 385px;
    }

    &_game5 {
        margin-top: 16px;
        height: 650px;
        width: 500px;
        background-color: #fffde1;
    }

    &__img-box {
        border-bottom: 2px solid black;
        width: 470px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        height: 250px;
        width: 350px;
    }

    &__title {
        padding-top: 24px;
        padding-bottom: 12px;
        color: black;
        font-size: 32px;
        font-weight: 700;

        &_game2 {
            padding-top: 54px;
            font-size: 42px;
        }

        &_game3 {
            padding-top: 36px;
            font-size: 38px;
            display: grid;
            justify-items: center;
        }

        &_game5 {
            padding-top: 36px;
            font-size: 42px;
        }
    }

    &__task {
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: 400;

        &_game2 {
            font-size: 22px;
        }
    }

    &__txtarea {
        width: 200px;
        height: 25px;
        align-items: center;
        color: #1e1e1e;
        font-size: 20px;
        font-weight: 400;
        border: 1px solid black;
        border-radius: 8px;
        resize: none;
        text-align: center;

        &_game2 {
            width: 300px;
        }

        &_game3 {
            font-family: inherit;
            width: 300px;
            height: 30px;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 10px;
            margin-bottom: 15px;
            cursor: pointer;
            font-size: 16px;
            display: grid;
            align-items: center;
            justify-items: start;
            color: #999;
        }
    }

    &__btn {
        margin: 12px;
        margin-bottom: 16px;
        width: 200px;
        height: 38px;
        background-color: #E5C288;
        border-radius: 8px;
        border: 1px solid black;
        font-size: 16px;
        font-family: inherit;
        font-weight: 600;
        cursor: pointer;

        &_game2 {
            width: 150px;
            margin-top: 20px;
        }

        &_game3 {
            width: 320px;
            height: 30px;
        }
    }

    &__win-txt {
        font-size: 18px;
        font-weight: 600;
        color: darkgreen;
        display: none;
    }

    &__nowin-txt {
        font-size: 18px;
        font-weight: 600;
        color: darkred;
        display: none;
    }


    // &__vector-box {
    //     position: absolute;
    //     bottom: 2px;
    //     right: 2px;
    //     z-index: 1;
    //     display: inline-block;

    //     &:hover .game1-box__vector-txt {
    //         display: block;
    //     }
    // }

    // &__vector {
    //     width: 25px;
    //     height: 25px;
    //     display: block;
    // }

    // &__vector-txt {
    //     display: none;
    //     position: absolute;
    //     background-color: #FFF7ED;
    //     border: 0.5px solid black;
    //     padding: 5px 10px;
    //     border-radius: 4px;
    //     bottom: 20px;
    //     right: 30px;
    //     z-index: 1;
    //     margin-bottom: 4px;
    //     width: 250px;
    //     font-size: 14px;
    // }

    &__answer {
        margin-top: 15px;
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        width: 320px;
        height: 60px;
        font-size: 14px;
        font-family: inherit;
        font-weight: 600;
    }
}

.game2-task {
    padding-top: 7px;
    padding-bottom: 14px;
    color: black;
    font-size: 68px;
    font-weight: 700;
}

.game3__vector {
    height: 250px;
    width: 250px;
    position: absolute;
    z-index: -1;

    &_png1 {
        bottom: 80px;
        right: 250px;
    }

    &_png2 {
        top: 0px;
        left: 400px;
    }

    &_png3 {
        bottom: 0px;
        left: 300px;
    }

    &_png4 {
        top: 30px;
        right: 30px;
    }

    &_png5 {
        left: 50px;
        bottom: 250px;
    }
}

.game5-box {
    &__png {
        position: absolute;
        z-index: 1;
        height: 300px;
        bottom: 0px;
        left: 0px;
        border-radius: 8px;
    }
}

.game5-taskbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__question {
        padding-top: 15px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 15px;
        font-family: inherit;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
    }

    &__answers-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    &__answer {
        width: 250px;
        height: 38px;
        background-color: #fae5c4;
        color: black;
        border-radius: 16px;
        border: none;
        font-size: 16px;
        font-family: inherit;
        font-weight: 600;
        cursor: pointer;
    }
}

.game5-resultbox {
    position: absolute;
    width: 150px;
    z-index: 2;
    right: 80px;
    bottom: 100px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__number {
        margin-top: 20px;
        font-size: 46px;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid black;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}