@media (max-width: 768px) {

    .center {
        padding-left: calc(50% - 360px/2);
        padding-right: calc(50% - 360px/2);
    }

    .top {
        height: 700px;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            font-size: 40px;
            line-height: 49px;
            width: 296px;
            width: 296px;
            text-align: center;
            padding-top: 147px;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
            width: 296px;
            text-align: center;
            padding-bottom: 36px;

            &_mob-no {
                display: none;
            }

            &_mob-yes {
                display: block;
            }
        }

        &__overlay-img_mob-no {
            display: none;
        }

        &__overlay-img_mob-yes {
            display: block;
        }

        &__overlay-star1 {
            width: 39px;
            height: 41px;
            position: absolute;
            z-index: 1;
            right: 34px;
            top: 580px;
        }

        &__overlay-star2 {
            width: 18px;
            height: 18px;
            position: absolute;
            z-index: 1;
            right: 86px;
            top: 557px;
        }

        &__overlay-star3 {
            width: 35px;
            height: 35px;
            position: absolute;
            z-index: 1;
            left: 37px;
            top: 97px;
        }

        &__overlay-star4 {
            width: 21px;
            height: 21px;
            position: absolute;
            z-index: 1;
            left: 91px;
            top: 64px;
        }

    }

    .scroll {
        height: 50px;
        top: 650px;

        &__box {
            gap: 28px;
        }

        &__text {
            font-size: 16px;
            text-transform: uppercase;
        }

        &__svg {
            width: 19px;
            height: 19px;
        }

    }

    .common-btn {
        width: 285px;
        font-size: 16px;

        &:hover {
            background: #202027;
            color: #FFFFFF;
            border: 1px solid transparent;
            cursor: default;
        }

        &_mob-no {
            display: none;
        }

        &_mob-yes {
            display: block;

            &:active {
                background-color: white;
                color: #000000;
                border: 1px solid #000000;
            }
        }
    }

    .game-box {
        display: none;
    }

    .minigame-box {
        padding-bottom: 10px;

        &__title {
            font-size: 40px;
            line-height: 49px;
            color: #FFFFFF;
            padding-top: 48px;
            padding-bottom: 48px;
        }

        &__overlay-star1 {
            display: none;
        }

        &__overlay-star2 {
            display: none;
        }

        &__overlay-star3 {
            display: none;
        }

        &__overlay-star4 {
            display: none;
        }
    }

    .minicard-box {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .minigame-card {
        width: 343px;
        display: flex;
        flex-direction: column-reverse;

        &_flex {
            display: flex;
            flex-direction: column-reverse;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 29px 29px 33px 29px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__title {
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;

            &_width {
                width: 280px;
            }

            &_var1 {
                display: none;
            }

        }

        &__description {
            font-size: 16px;
            line-height: 20px;
        }

        &__img {
            height: 285px;
        }
    }

    .bottom {
        height: 100px;

        &__text {
            display: flex;
            justify-content: center;
            padding-top: 40px;
            font-size: 16px;
            line-height: 20px;
        }
    }
}